.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app.nav-bar-app {
  background-color: #20232a;
  color: white;
}

.app.nav-bar-app .navbar-brand, .app.nav-bar-app a {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar-collapse.flex-right {
  justify-content: flex-end;
  flex-basis: auto;
  flex-grow: initial;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.h-between {
  justify-content: space-between;
}
.flex.h-center {
  justify-content: center;
}

.flex div {
  margin-left: 15px;
  margin-bottom: 10px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.m-right-40, .app.m-right-40 {
  margin-right: 40px !important;
}

.flight-search {
  background-color: #F9F9F9;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 6px 9px 0 rgb(0 0 0 / 10%);
  padding: 20px;
}

.nav-link-app, .nav-link-app a {
  text-decoration: none;
}